/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background-color: rgb(187, 187, 187);
}
img#img1 {
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 1200px; 
  height: 600px; 
  border-style: groove;
  border-color: rgb(94, 45, 193);
}

h1{
  text-indent: 30px;
  font-size: 30px;
  font-style: normal;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
  text-indent:30px;
  font-size: 20px;
  padding-left: 65px;
  padding-right: 65px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1.labp {
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 3px solid rgb(94, 45, 193);
  border-top: 3px solid rgb(94, 45, 193);
  padding-top: 20px; 
  padding-bottom: 20px; 
  margin-bottom: 30px; 
  margin-top: 30px; 
}
.centered-container{
  text-align: center;
}
a{
  display: inline-block;  
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
code {
  font-size: 20px
}