/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #f5f5c0;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

p{
  text-indent:30px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family:Arial, Helvetica, sans-serif;
}
.links{
  text-indent: 20px;
  font-family:Arial;
  font-size: 18px;
}
a{
  color: black;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #ca8d0a;
  background-color: #ccdc83;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #821a1a;
  background-color: #ecae7e;
}

.minor-section-content {
  display: flex; /* Align image and paragraph side by side */
  align-items: center; /* Vertically align content */
}
